.area {
  color: black;
  padding: 20px;
  margin: 0; }

.header {
  padding: 20px;
  overflow: hidden; }

.header h1, .header h2, .header h3, .header p {
  float: left;
  line-height: 1;
  margin: 0; }

.header h1 {
  color: inherit; }

.header h2 {
  font-size: 40px; }

.header h3 {
  font-size: 40px; }

.header p {
  font-size: 20px; }

.footer {
  padding: 20px; }

.footer h1 {
  font-size: 63px;
  line-height: 1;
  color: inherit; }

.footer h2 {
  font-size: 40px;
  line-height: 1;
  color: inherit; }

.footer h2 {
  font-size: 40px;
  line-height: 1;
  color: inherit; }

.footer p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  color: inherit; }

.hero {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 21px;
  line-height: 2;
  font-weight: 200;
  color: inherit;
  background-color: #EEE;
  margin: 0 auto; }

.box {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 21px;
  line-height: 2;
  font-weight: 200;
  color: inherit;
  background-color: #EEE;
  margin: 0 auto; }

.logo {
  height: 100px;
  width: 100px;
  float: left;
  background-size: 100%; }

.shadow {
  -moz-border-radius: 10px;
  border-radius: 10px; }

.inner_box {
  background: white;
  box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.29) inset;
  -moz-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.29) inset;
  -webkit-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.29) inset; }

.boxer {
  margin: 0 auto;
  max-width: 1170px;
  overflow: hidden; }

.round {
  -moz-border-radius: 10px;
  border-radius: 10px; }

.shadow {
  -moz-border-radius: 10px;
  border-radius: 10px; }

.button {
  border-radius: 10px;
  box-shadow: 0px 5px 2px black;
  border: 2px solid #5e1313;
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s;
  height: 20px;
  color: black;
  background-image: linear-gradient(gold, #ffff80, white);
  width: auto; }

.button:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  border: 2px solid #5e1313;
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s;
  height: 20px;
  color: black;
  background-image: linear-gradient(gold, #ffff80, lightgrey);
  top: 5px; }

.button:active {
  border-radius: 10px;
  box-shadow: 0px -4px 2px black;
  border: 2px solid #5e1313;
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s;
  height: 20px;
  color: black;
  top: 10px;
  height: 15px; }

.button p {
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -10px; }

/* EDIT THIS PAGE FOR INDIVIDUAL PROJECT SETUP */
.logo {
  background-image: url("../images/logo2.png");
  height: 200px;
  width: 200px;
  float: "";
  background-size: 240%;
  background-position-x: -140px;
  background-position-y: -30px; }

.header h1 {
  width: 100%;
  padding: auto;
  color: auto;
  font-size: 60px;
  font-family: inherit; }

.header h1 {
  padding-top: 70px;
  padding-bottom: 70px; }

.header h1 {
  width: 970px;
  text-align: center; }

.hero {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 2;
  font-weight: 200;
  color: inherit;
  background-color: #ebbc00;
  margin: 0 auto; }

.box {
  padding: 20px;
  font-size: 21px;
  line-height: 2;
  font-weight: 200;
  color: black;
  background: lightgrey;
  margin: 0 auto; }

.footer {
  padding: 20px;
  background: none;
  color: black; }

.round {
  -moz-border-radius: 6px;
  border-radius: 6px; }

.shadow {
  box-shadow: 6px 6px 4px 10px black "";
  -moz-box-shadow: 6px 6px 4px 10px black "";
  -webkit-box-shadow: 6px 6px 4px 10px black ""; }

.inner_box {
  background: #db9e00;
  color: #530000;
  box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.29) inset;
  -moz-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.29) inset;
  -webkit-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.29) inset;
  height: 50px; }

.boxer {
  margin: 0 auto;
  max-width: 1170px;
  overflow: hidden; }

body {
  background: gold;
  font-family: arial;
  margin: 0px; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: underline;
  color: black; }
