.header {
  padding: 20px; }

.header h1 {
  font-size: 63px;
  line-height: 1;
  color: inherit; }

.header h2 {
  font-size: 40px;
  line-height: 1;
  color: inherit; }

.header h2 {
  font-size: 40px;
  line-height: 1;
  color: inherit; }

.header p {
  font-size: 20px;
  line-height: 1;
  color: inherit; }

.hero {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 21px;
  line-height: 2;
  font-weight: 200;
  color: inherit;
  background-color: #EEE;
  margin: 0 auto; }

.boxer {
  margin: 0 auto;
  max-width: 1170px; }

.button {
  border-radius: 10px;
  box-shadow: 0px 5px 2px black;
  border: 2px solid black;
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s;
  height: 20px;
  color: black;
  background-image: linear-gradient(grey, black, white);
  width: auto; }

.button:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  border: 2px solid black;
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s;
  height: 20px;
  color: black;
  background-image: linear-gradient(grey, black, lightgrey);
  top: 5px; }

.button:active {
  border-radius: 10px;
  box-shadow: 0px -4px 2px black;
  border: 2px solid black;
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s;
  height: 20px;
  color: black;
  top: 10px;
  height: 15px; }

/* EDIT THIS PAGE FOR INDIVIDUAL PROJECT SETUP */
.hero {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 2;
  font-weight: 200;
  color: inherit;
  background-color: white;
  margin: 0 auto; }

.header {
  padding: 20px;
  background: yellow;
  color: black; }

body {
  background: gold;
  font-family: arial;
  margin: 0px; }
