@import "../lib/objects/primary/button.scss";

@mixin greyButton()
{
	.button
	{
		@include button(5px,0.2s,"",2px solid #999);
		background-image:linear-gradient(lighten(black,25%), lighten(black,75%), white);
		width:auto;		
	}

	.button:hover
	{
		@include button(0px,0.2s,"",2px solid #999);
		background-image:linear-gradient(lighten(black,25%), lighten(black,75%), lighten(black,90%));
		top:5px;	
	}

	.button:active
	{
		@include button(-4px,0.2s,"",2px solid #999);
		top:10px;	
		height: $btn_height - 5px;
		
	}


	.button p
	{
		padding:0px;
		margin:0px;
		position:relative;
		top:-10px;
	}

}
