@import "../lib/objects/primary/button.scss";

@mixin yellowButton()
{
	.button
	{
		@include button(5px,0.2s,"",2px solid #5E1313);
		background-image:linear-gradient(gold, lighten(yellow,25%), white);
		width:auto;		
	}

	.button:hover
	{
		@include button(0px,0.2s,"",2px solid #5E1313);
		background-image:linear-gradient(gold, lighten(yellow,25%), lightgrey);
		top:5px;	
	}

	.button:active
	{
		@include button(-4px,0.2s,"",2px solid #5E1313);
		top:10px;	
		height: $btn_height - 5px;
		
	}


	.button p
	{
		padding:0px;
		margin:0px;
		position:relative;
		top:-10px;
	}
}