/* EDIT THIS PAGE FOR INDIVIDUAL PROJECT SETUP */

//QUICKIES
$use_logo:true;
$setup_background: gold; 					  	  			/*set background to red*/
$setup_font: arial;   
$logo_width: 200px;
$logo_height: 200px;					 		  			/*set font to arial*/
$page_maxWidth:500px;
$header_textSize:40px;

/*TODO: MOVE ALL THIS*/
//SETUP OPTIONS
	
	//SETUP LOGO
	$setup_logo: url("../images/logo2.png");			  		/*Set the logo image to a file logo.png in images folder*/
	$logo_size: 100%;
	$logo_pos_x: 0;
	$logo_pos_y: 20px;

	
	//BODY
	@include define_hero(20px,20px,#EBBC00);   		  		//override defaults for hero (height,width,background)
	@include define_box(20px, lightgrey, black);            //etc
	
	//FOOTER
	@include define_footer(20px, none, black);        		//override defaults for footer (padding, background, color)
		
	//CLASSES
	@include define_round(6px);
	@include define_shadow(6px,6px);	
	@include define_inner_box(#DB9E00,#530000,50px);	
	@include define_boxer($page_maxWidth);
	
/*SETUP THE HEADER*/
@import "setup/header/header_setup.scss";
@include header_setup 
(
	 /*use_logo*/ 			$use_logo, 
	 /*logo_height*/ 		$logo_height,
	 /*logo_width*/ 		$logo_width, 
	 /*logo_size*/  		$logo_size, 
	 /*logo_pos_x*/ 		$logo_pos_x, 
	 /*logo_pos_y*/ 		$logo_pos_y,
	 /*header_textSize*/ 	$header_textSize,
	 /*page_maxWidth*/		$page_maxWidth,
	 /*logo image*/			$setup_logo
);